{% extends "layout.html" %}
{% block content %}
  <div class="inspect-container">
    <h2>Inspect your Vehicle</h2>

    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <!-- Vehicle Dropdown -->
      <div class="form-group">
        <label for="vehicle">Select Vehicle:</label>
        {% if vehicles %}
          <select id="vehicle" name="vehicle_id" class="form-control">
              <option value="">-- Select Vehicle --</option>
              {% for vehicle in vehicles %}
                  <option value="{{ vehicle.id }}">{{ vehicle.brand }} - {{ vehicle.model }}</option>
              {% endfor %}
          </select>
        {% else %}
          <p>No vehicles found. Please add a vehicle first.</p>
        {% endif %}
        <a href="{{ url_for('add_vehicle') }}">List a new vehicle? Add here</a>
      </div>

      <!-- Interior Inspection Section -->
      <!-- dashboard -->
        <div class="inspection-section">
          <h3>Interior</h3>
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/dashboard.jpeg') }}" alt="dashboard image" class="question-image">
                <label>{{ form.dashboard_defects.label }}</label>
            </div>
            <div class="radio-options">
                {{ form.dashboard_defects(class="form-check-input") }}
            </div>
          </div>

          <!-- seats -->
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/seats 2.jpeg') }}" alt="dashboard image" class="question-image">
                <label>{{ form.seats_condition.label }}</label>
            </div>
            <div class="radio-options">
                {{ form.seats_condition(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
              <label>{{ form.seat_comfort.label }}</label>
              <div class="radio-options">
                  {{ form.seat_comfort(class="form-check-input") }}
              </div>
          </div>

          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Seatbelt.jpeg') }}" alt="dashboard image" class="question-image">
                <label>{{ form.seatbelts.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.seatbelts(class="form-check-input") }}
            </div>
          </div>
        

          <!--Driver seats -->
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Seatring wheel position.jpg') }}" alt="dashboard image" class="question-image">
                <label>{{ form.steering_condition.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.steering_condition(class="form-check-input") }}
            </div>
          </div>


          <!-- Clutch Pedal Feel -->
          <div class="inspection-item">
            <label>{{ form.clutch_pedal.label }}</label>
            <div class="radio-options">
              {{ form.clutch_pedal(class="form-check-input") }}
            </div>
          </div>

          <!-- Floor Mats Availability -->
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Floor mats.jpg') }}" alt="dashboard image" class="question-image">
                <label>{{ form.floor_mats.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.floor_mats(class="form-check-input") }}
            </div>
          </div>

          <!-- Glove Box Functionality -->
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/glove box.jpg') }}" alt="dashboard image" class="question-image">
                <label>{{ form.glove_box.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.glove_box(class="form-check-input") }}
            </div>
          </div>

          <!-- Switch control -->
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Switvh controls.jpg') }}" alt="dashboard image" class="question-image">
                <label>{{ form.headlight_switch.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.headlight_switch(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Switvh controls.jpg') }}" alt="dashboard image" class="question-image">
                <label>{{ form.turn_signal_switch.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.turn_signal_switch(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Hazard Switch.png') }}" alt="dashboard image" class="question-image">
                <label>{{ form.hazard_light_switch.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.hazard_light_switch(class="form-check-input") }}
            </div>
          </div>


          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/wiper switch.jpg') }}" alt="dashboard image" class="question-image">
                <label>{{ form.wiper_switch.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.wiper_switch(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
            <label>{{ form.audio_system_control.label }}</label>
            <div class="radio-options">
                {{ form.audio_system_control(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
            <label>{{ form.switch_illumination.label }}</label>
            <div class="radio-options">
                {{ form.switch_illumination(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
            <label>{{ form.fog_light_switch.label }}</label>
            <div class="radio-options">
                {{ form.fog_light_switch(class="form-check-input") }}
            </div>
          </div>
        </div>

        <!-- Exterior and other sections -->
        
        <!-- Front bumper -->
        <div class="inspection-section">
          <h3>Exterior</h3>
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Front Bumber.webp') }}" alt="dashboard image" class="question-image">
                <label>{{ form.front_bumper_condition.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.front_bumper_condition(class="form-check-input") }}
            </div>
          </div>


          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/bumper alignment.png') }}" alt="dashboard image" class="question-image">
                <label>{{ form.front_bumper_alignment.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.front_bumper_alignment(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
            <label>{{ form.bumper_scratches.label }}</label>
            <div class="radio-options">
                {{ form.bumper_scratches(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
            <label>{{ form.fog_lights.label }}</label>
            <div class="radio-options">
                {{ form.fog_lights(class="form-check-input") }}
            </div>
          </div>
        

          <!-- Hood -->

          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Car hood.webp') }}" alt="dashboard image" class="question-image">
                <label>{{ form.hood_condition.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.hood_condition(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
              <div class="radio-options">
                {{ form.hood_alignment.label }}<br>
                {{ form.hood_alignment(class="form-check-input") }}
              </div>
          </div>


          <div class="inspection-item">
            <div class="question-content">
              <label> {{ form.hood_functionality.label }}</label>
            </div>
            <div class="radio-options">
              {{ form.hood_functionality(class="form-check-input") }}
            </div>
          </div>

            <!-- Front Windshield -->
            <div class="inspection-item">
              <div class="question-content">
                  <img src="{{ url_for('static', filename='images/Front Windshield.png') }}" alt="dashboard image" class="question-image">
                  {{ form.front_windshield_condition.label }}</label>
              </div>
              <div class="radio-options">
                {{ form.front_windshield_condition(class="form-check-input") }}
              </div>
            </div>

            <div class="inspection-item">
              <div class="question-content">
                <label>{{ form.windshield_sealing.label }}</label>
              </div>
              <div class="radio-options">
                {{ form.windshield_sealing(class="form-check-input") }}
              </div>
            </div>
      
          <div class="inspection-item">
              <label> Properly installed and sealed with rubber beadings</label>
              <div class="radio-options">
                {{ form.windshield_sealing(class="form-check-input") }}
              </div>
          </div>


          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/wiper.jpeg') }}" alt="dashboard image" class="question-image">
                <label> Functionality of windshield wipers</label>
            </div>
            <div class="radio-options">
                {{ form.windshield_wipers_functionality(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
              <label> {{ form.windshield_clarity.label }}</label>
              <div class="radio-options">
                {{ form.windshield_clarity(class="form-check-input") }}
              </div>
          </div>

          <!-- Roof -->
          <div class="inspection-item">
              <label> Roof Noise or Vibration</label>
              <div class="radio-options">
                {{ form.roof_noise(class="form-check-input") }}
              </div>
          </div>


          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Roof the car.jpg') }}" alt="dashboard image" class="question-image">
                <label> Roof Condition (scratches, dents)</label>
            </div>
            <div class="radio-options">
                {{ form.roof_condition(class="form-check-input") }}
            </div>
          </div>


          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Roof rails.jpg') }}" alt="dashboard image" class="question-image">
                <label> Wear and tear on roof rails</label>
            </div>
            <div class="radio-options">
              {{ form.roof_rails(class="form-check-input") }}
            </div>
          </div>
        
          <!-- Rear Windshield -->
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Rear Windsheild.jpeg') }}" alt="dashboard image" class="question-image">
                <label>Rear Windshield Condition (scratches, cracks)</label>
            </div>
            <div class="radio-options">
              {{ form.rear_windshield_condition(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
              <label>Proper installation of rear windshield and rubber beadings</label>
              <div class="radio-options">
                {{ form.rear_windshield_sealing(class="form-check-input") }}
              </div>
          </div>


          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Rear wiper.webp') }}" alt="dashboard image" class="question-image">
                <label>Rear windshield wipers functionality</label>
            </div>
            <div class="radio-options">
              {{ form.rear_windshield_wipers(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
              <label>Rear windshield clarity and visibility</label>
              <div class="radio-options">
                {{ form.rear_windshield_clarity(class="form-check-input") }}
              </div>
          </div>

          <!-- Tail Gate -->
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Tail gate.webp') }}" alt="dashboard image" class="question-image">
                <label>Tail Gate Condition (scratches, dents)</label>
            </div>
            <div class="radio-options">
              {{ form.tail_gate_condition(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
              <label>Proper alignment of the tail gate</label>
              <div class="radio-options">
                {{ form.tail_gate_alignment(class="form-check-input") }}
              </div>
          </div>

          <div class="inspection-item">
              <label>Tail gate functionality (locking mechanism)</label>
              <div class="radio-options">
                {{ form.tail_gate_functionality(class="form-check-input") }}
              </div>
          </div>

          <!-- Rear Bumper -->
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Rear Bumper.jpeg') }}" alt="dashboard image" class="question-image">
                <label>Rear Bumper Condition</label>
            </div>
            <div class="radio-options">
              {{ form.rear_bumper_condition(class="form-check-input") }}
            </div>
          </div>


          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/rear bumper alignment.png') }}" alt="dashboard image" class="question-image">
                <label>Rear bumper alignment with vehicle body</label>
            </div>
            <div class="radio-options">
              {{ form.rear_bumper_alignment(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
              <label>Scratches on rear bumper</label>
              <div class="radio-options">
                {{ form.rear_bumper_scratches(class="form-check-input") }}
              </div>
          </div>

          <!-- Engine Bay -->
          <h3>Engine Bay</h3>
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Engoine Bay.jpeg') }}" alt="dashboard image" class="question-image">
                <label>Oil leaks in engine bay</label>
            </div>
            <div class="radio-options">
              {{ form.engine_oil_leaks(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Coolant level.jpeg') }}" alt="dashboard image" class="question-image">
                <label>Coolant levely</label>
            </div>
            <div class="radio-options">
              {{ form.coolant_level(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Engine Oil Level.jpeg') }}" alt="dashboard image" class="question-image">
                <label>Engine oil level</label>
            </div>
            <div class="radio-options">
              {{ form.engine_oil_level(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Washer Fluid Level.jpeg') }}" alt="dashboard image" class="question-image">
                <label>Washer fluid leve</label>
            </div>
            <div class="radio-options">
              {{ form.washer_fluid_level(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
              <label>Electrical wiring condition</label>
              <div class="radio-options">
                {{ form.wiring_condition(class="form-check-input") }}
              </div>
          </div>

          <!-- Tyres -->
          <h3>Tyres</h3>
          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Tyre.png') }}" alt="dashboard image" class="question-image">
                <label>Tyre Condition</label>
            </div>
            <div class="radio-options">
              {{ form.tyre_damage(class="form-check-input") }}
            </div>
          </div>

          <div class="inspection-item">
            <div class="question-content">
                <img src="{{ url_for('static', filename='images/Tyre year.jpeg') }}" alt="dashboard image" class="question-image">
                <label>Tyre Manufacturing Date</label>
            </div>
            <div class="radio-options">
              {{ form.tyre_manufacturing_date(class="form-check-input") }}
            </div>
          </div>
        
          <div class="inspection-item">
              <label>Tyre Grip Condition</label>
              <div class="radio-options">
                {{ form.tyre_grip(class="form-check-input") }}
              </div>
          </div>
        </div>
      

        
      <!-- Notes -->
      <div class="form-group">
          {{ form.notes.label(class="form-label") }}
          {{ form.notes(class="form-control", rows=3) }}
      </div>

      <!-- Submit Button -->
      <div class="form-group">
          <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
      </div>
    

    </form>
  </div>
{% endblock %}